/* 一级菜单居中 */
#nav .menus_items {
    /* display: inline; 这个带不带都可以，本来就是inline */
    position: absolute;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    }

    #nav {
        font-size: 2.0em;
    }
    
